# Copia este archivo a .env y completa con tus credenciales de Supabase.
VITE_SUPABASE_URL=https://vhlqrwrkgpycybptowtn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_5-5bQryUdteVbxVFDxDlGQ_AV1WLDbj
